
.jfx-button{
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}
.jfx-button:hover{
    -fx-background-color: #388E3C;
}
.tol{
    -fx-background-color: #345678;
}

.tol:hover
{
    -fx-background-color: #F7FF84;
    -fx-text-fill: black;
    
}